#Header .title{
    text-align: center;
    font-size: 48px;
    margin: 24px 0px 72px 0px;
}

#Body .champion_cell{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Body .all, #Body .bySet{
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    transition: font-size 0.7s;
}
#Body .all:hover, #Body .bySet:hover{
    color: #72777A;
}
#Body .all.selected, #Body .bySet.selected{
    cursor: pointer;
    font-size: 48px;
    font-weight: 700;
}
#Body .tabBox{
    height: 48px;
    transition: height 1s;
}
